.pagination-div {
  display: block;
  text-align: center;
}

.table-bob {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .table-bob td, table-bob th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .table-bob tr:nth-child(even){background-color: #f2f2f2;}
  
  .table-bob tr:hover {background-color: #ddd;}
  
  .table-bob th,  .table-bob tfoot td{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
  }

  .table-bob th.asc:after{
    content: ' \25B2';
  }

  .table-bob .desc:after{
    content: ' \25BC';
  }

.pagination-row-item {
  padding: 0.375rem;
  /* justify-content: center;
  flex-direction: column;
  align-items: center; */
}

.bootstrap-bob-header{
  display: flex;
  flex-direction: column;
  justify-content: left;

}